
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Comfortaa:wght@500&family=Quicksand&display=swap');

body{
    /*font-family: 'Balsamiq Sans', cursive;
    font-family: 'Comfortaa', cursive;*/
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #f7f7f8;
}

.column {
    padding-left: 0px;
    padding-right: 0px;
}

.thumbnail {
    border: 0px;
}

.thumbnail:focus, .thumbnail:hover {
    box-shadow: none;
}

.card {
    margin: 10px 60px 60px;
    padding-bottom: 10px;
    background-color: #ffffff;
}

.card p {
    padding: 10px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hotel-facilitiesZ.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
    color: #fff;
}

.callout {
    border: 0px;
    margin: 0 0 3rem;
}

.card-image {
  position: relative;
}

.overlay {
  position: absolute;
  top: 50%;
  width: 100%;
}

h1 span {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}