html {
    font-size: 16px;
    line-height: 1.4;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
}

.text-center {
    text-align: center;
}

.border {
    border: #EB392E solid 4px;
    width: 52px;
    margin: auto;
}

.mt-2 {
    margin: 40px 0;
}

.gallery-container,
.about-us-container,
.testimonial-container,
.image-wrapper,
.image-wrapper2 {
    margin-top: 40px;
}

.bannerTop {
    height: 25em;
    background-image: url("../images/01-HomePage/001-headerImage/headerImage-01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.596);
    background-blend-mode: multiply;
    margin-top: 90px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bannerTop h1 {
    font-size: 4.5vw;
    letter-spacing: 2px;
    margin-bottom: 25px;
    font-family: 'PT Serif', serif;
    font-weight: 700;
}

.bannerTop p {
    font-size: 1.5vw;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 600;
    width: 100%;
    text-align: center;
    padding: 0px 0 20px 0;
    position: relative;
}

h2 hr {
    width: 6%;
    margin: 0.3em auto 0 auto;
    height: 5px;
    background-color: #eb392e;
    border-radius: 1em;
    border: none;
}

.details-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    background-color: #eb392e;
    padding: 15px 30px;
    text-align: center;
    border: 1px solid #EB392E;
    margin-top: 1em;
}

.details-btn:hover {
    color: #EB392E;
    background-color: transparent;
    border: 1px solid rgb(235, 57, 46);
    font-weight: 700;
}

.btn-head:hover {
    color: white!important;
    background-color: transparent;
    border: 1px solid rgb(235, 57, 46);
    font-weight: 700;
}
.section {
    width: 90%;
    margin: 80px auto 0 auto;
}

.image-wrapper,
.image-wrapper2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.wrapper-content1 {
    background-image: url("../images/01-HomePage/002-welcome2dumont/GreatLocation.jpg");
}

.wrapper-content2 {
    background-image: url("../images/01-HomePage/002-welcome2dumont/LuxuryRoom.jpg");
}

.wrapper-content3 {
    background-image: url("../images/01-HomePage/002-welcome2dumont/DeliciousFoods.jpg");
}

.wrapper-content4 {
    background-image: url("../images/01-HomePage/002-welcome2dumont/GreatService.jpg");
}

.room-image1 {
    background-image: url("../images/01-HomePage/002-welcome2dumont/LuxuryRoom.jpg");
}

.room-image2 {
    background-image: url("../images/01-HomePage/003-OurRoom_suites/DeluxeRoom.jpg");
}

.room-image3 {
    background-image: url("../images/01-HomePage/003-OurRoom_suites/ExecutiveSuite.jpg");
}

.wrapper-content1,
.wrapper-content2,
.wrapper-content3,
.wrapper-content4,
.room-image1,
.room-image2,
.room-image3 {
    height: 16em;
    width: 24%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.596);
    background-blend-mode: multiply;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.room-image1,
.room-image2,
.room-image3 {
    height: 30vw;
    width: 29vw;
    justify-content: flex-end;
    background-blend-mode: normal;
    background-color: rgba(0, 0, 0, 0);
}

.room-image1 p,
.room-image2 p,
.room-image3 p {
    height: 15%;
    width: 100%;
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    font-weight: 600;
    text-align: center;
    transition: all 0.5s ease;
}

.room-image1:hover p {
    height: 100%;
    font-size: 1.3em;
}

.room-image2:hover p {
    height: 100%;
    font-size: 1.3em;
}

.room-image3:hover p {
    height: 100%;
    font-size: 1.3em;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-gap: 0px;
    /* justify-content: center; */
}

.gallery-container img {
    width: 100%;
    max-width: 100%;
}

.about-us-container {
    display: flex;
    justify-content: space-around;
}
.about-us-container-toggle{
    display: block;
}

.about-image-wrapper {
    width: 350px;
    /* max-width: 500px; */
}

.about-image-wrapper-toggle {
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.about-image {
    width: 100%;
    max-width: 100%;
}

.about-image-toggle {
    width: 50%;
    max-width: 500px;
}

.text-content {
    width: 500px;
    margin: 0 0 0 10px;
}
.text-content-toggle {
    width: 100%;
    margin: 0 0 0 10px;
}
.about-us-text{
    width: 500px;
    height: 260px;
    overflow: hidden;
}

.about-us-text-toggle{
    width: 100%;
    height: initial;
    overflow: auto;
}

.section .suite-text {
    text-align: center;
}

button {
    background-color: #EB392E;
    color: white;
    padding: 20px;
    border: none;
    cursor: pointer;
}

.testimonial-container {
    margin-bottom: 2em;
    position: relative;
    padding: 0 20px;
}

.testimonial-container img {
    border-radius: 50%;
}

.slide {
    display: none;
}

.active-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    animation: fade 1.5s;
}

.slide-image, .slide-text {
    padding: 10px;
}
.slide-image {
    text-align: center;
}
.slide-text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    text-align: left;
}
.prev,
.next {
    cursor: pointer;
    color: #A0A0A0;
    position: absolute;
    transform: translate(0, -50%);
}
.prev{
    top: 50%;
    left: 0%;
}
.next{
    top: 50%;
    right: 0%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
}

.active-dot {
    background-color: #EB392E;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


@media screen and (max-width: 768px) {
    .bannerTop {
        height: 20em;
    }
    .bannerTop h1 {
        font-size: 2em;
        letter-spacing: 1px;
        margin-bottom: 25px;
        font-family: 'Times New Roman', Times, serif;
    }
    .bannerTop p {
        font-size: 1em;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }
    h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 600;
        width: 100%;
        text-align: center;
        padding: 0px 0 20px 0;
        position: relative;
    }
    .section {
        width: 90%;
        margin: 20px auto;
    }
    .image-wrapper,
    .image-wrapper2 {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
    }

    .wrapper-content1,
    .wrapper-content2,
    .wrapper-content3,
    .wrapper-content4,
    .room-image1,
    .room-image2,
    .room-image3 {
        height: 19em;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .room-image1,
    .room-image2,
    .room-image3 {
        justify-content: flex-end;
        background-blend-mode: normal;
        background-color: rgba(0, 0, 0, 0);
    }
    .about-us-container {
        flex-wrap: wrap;
    }
    
    .about-image-wrapper {
        width: 100%;
        max-width: 100%;
    }
    
    .about-image {
        width: 100%;
        max-width: 100%;
    }
    
    .text-content {
        width: 100%;
        margin: 0 0 0 0;
    }
    .about-us-text{
        width: 100%;
        height: 100px;
        overflow: hidden;
    }
    .about-us-text-toggle{
        width: 100%;
        height: initial;
        overflow: auto;
    }
    .gallery-container {
        width: 100%;
        display: block;
    }
    .gallery-container .image-holder {
        margin-bottom: 20px;
        width: 100%;
    }
    .gallery-container .image-holder img {
        width: 100%;
    }

    .room-image1 p,
    .room-image2 p,
    .room-image3 p {
        height: 15%;
        width: 100%;
        padding: 15px 10px;
    }

    .active-slide {
        display: block;
        padding: 0.5em;
        animation: fade 1.5s;
    }

    .slide-text{
        font-size: 1em;
    }

    .slide-image, .slide-text {
        width: 100%;
    }
}