html {
    font-size: 16px;
    line-height: 1.4;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

main div{
    background-color: #fff;
}

.bannerTop {
    height: 15em;
    background-image: url("../images/04-Rooms/header-image-4-other-page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.596);
    background-blend-mode: multiply;
    margin-top: 90px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bannerTop h1 {
    font-size: 6.5vw;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 600;
    width: 100%;
    text-align: center;
    padding: 30px 0 50px;
    position: relative;
}

h2 hr{
    width: 6%;
    margin: 0.3em auto 0 auto;
    height: 5px;
    background-color: #eb392e;
    border-radius: 1em;
    border: none;
}

.wrapp {
    padding: 0 80px 40px 80px;
    display: flex;
    justify-content: space-around;
}
.left-side, .right-side {
    width: 45%;
}

.locate, .phone, .mail {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size:1em;
    margin-bottom: 1em;
}

.left-side img{
    margin-right: 10px;
    width: 10%;
}

input[type=text],input[type=email], textarea {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
}

input[type=submit] {
    display: block;
    background-color: #eb392e;
    border: 1px solid #fff;
    min-width: 120px;
    cursor: pointer;
    color: white;
    padding: 10px 30px;
    margin-top: 30px;
    
}

input[type=submit]:hover{
    color: #EB392E;
    background-color: white;
    border: 1px solid #EB392E;
    font-weight: 700;
}

@media screen and (max-width: 1024px) {
    .bannerTop h1 {
        font-size: 9vw;
    }
    
    h2 {
        font-size: 3vw;
    }
    .wrapp {
        padding: 0 20px 40px 20px;
    }
}

@media screen and (max-width: 767px) {
    .wrapp {
        padding: 0 20px 40px 20px;

    }

    .row-1, .row-2 {
        justify-content: center;
        flex-direction: column;
        width:80%;
        margin:0 auto 0 auto;
    }

    .standard, .deluxe, .family, .executive {
        width: 100%;
        margin-bottom: 30px;  
    }
}

@media screen and (max-width: 600px) {
.left-side{
    display: none;
}
.right-side{
    width: 80%;
}
h2 {
    font-size: 3vw;
}
input[type=submit] {
margin: 0 auto;
}

}

@media screen and (max-width: 500px) {
    .wrapp{
        padding: 30px 20px 40px 20px;
    }
    .bannerTop h1 {
        font-size: 12vw;
    }
    
    h2 {
        font-size: 4vw;
        padding-bottom: 10px;
    }
    .row-1, .row-2 {
        width:100%;
    }
}