* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Raleway', sans-serif;
}


/* wrapper */


/* nav style goes here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* container css code */

.container {
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 170px;
}


/*End of container css code */


/* header */

.header-main {
    width: 100%;
    height: 250px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/01-HomePage/001-headerImage/headerImage-02.jpg);
    background-size: 100% 100%;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

h2 {
    color: white;
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4.5vw;
    letter-spacing: 2px;
}


/* first cloumn syle */

.flexOne {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.flexOne p,
.flexTwo p {
    line-height: 1.6;
    font-size: 18px;
}


/* individual  flex child code goes here */

.gymnasium,
.swimmingPools {
    width: 50%;
    height: 382px;
    margin-left: 20px;
}

.golf,
.businessCafe {
    /* margin: 0 auto; */
    width: 50%;
    height: 382px;
}


/* End of individual  flex child code */


/* grouping of image and h5 which are both under the flex child  */

.image {
    width: 95%;
}

.image h5 {
    margin-top: -74px;
    text-transform: uppercase;
    padding-left: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: normal;
    font-size: 24px;
    line-height: 1.2;
    /* font-weight: 600; */
    /* height: 20px; */
}

.image img {
    width: 100%;
    height: 382px;
    position: relative;
    /* left: 80px; */
}


/* End grouping of image and h5 which are both under the flex child  */


/* grouping of the paragraph and input tag which are also both in the flex child */

.content {
    margin-top: 4%;
    width: 90%;
}

input {
    margin-top: 1rem;
    width: 100px;
    height: 40px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: #EB392E;
    border: none;
    cursor: pointer;
}

input:hover {
    color: #EB392E;
    background-color: transparent;
    border: 1px solid rgb(235, 57, 46);
    font-weight: 700;
}


/* End grouping of the paragraph and input tag which are also both in the flex child */


/*End of first cloumn syle */


/* Second row style  */

.flexTwo {
    display: flex;
    align-items: center;
    margin-top: 10rem;
}


/* responsiveness */


/* ipad responsiveness */

@media only screen and (max-width: 960px) {
    .container {
        width: 100%;
    }

    h2 {
        font-size: 6.5vw;
        letter-spacing: 2px;
    }
}


/* mobile responsiveness */

@media screen and (max-width:767px) {
    .flexOne,
    .flexTwo,
    .flexOne>div,
    .flexTwo>div {
        display: block;
        width: 100%;
    }
    .flexOne>div,
    .flexTwo>div {
        margin: 0 auto;
        width: 90%;
    }
    .flexOne {
        margin: 0;
        margin-bottom: 2em;
    }
    .flexTwo {
        margin-top: 0;
    }
    .flexOne .gymnasium,
    .flexTwo .swimmingPools,
    .flexOne {
        margin-bottom: 2em;
    }
    .gymnasium,
    .swimmingPools,
    .golf,
    .businessCafe {
        height: max-content;
    }
    .image {
        width: 100%;
        height: 250px;
    }
    .image img {
        object-fit: fill;
    }
    .golf,
    .businessCafe {
        margin-top: 4em;
    }
    .image img {
        height: 100%;
        max-width: 100%;
    }
    .container {
        margin-bottom: 120px;
    }

    h2 {
        font-size: 8.5vw;
        letter-spacing: 2px;
    }
}

@media only screen and (max-width:568px) {
    .header-main{
        height: 150px;
    }
}