*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.overall-container{
    font-size: 1rem;
}

/* Style for the page-header section =================================================================================================== */
.page-header{
    height: 250px;
    background-image: url(../images/02-AboutUsPage/header-image-4-other-page.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: teal;
    margin-top: 100px;
}
.page-header-overlay{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 5vw;
}
/* Style for the page-header section =================================================================================================== */



/* Style for the slide-show section =================================================================================================== */
.slide-show{
    padding: 2em 3em;
}
.slide-show-wrapper{
    width: 100%;
    height: 400px;
    margin-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}
#imgCon{
    width: 100%;
    height: inherit;
    animation-name: slideOutLeft;
    animation-duration: 8s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes slideOutLeft {
    0% {
        opacity: 0.5;
      }
    5% {
        opacity: 0.5;
    }
    10% {
        opacity: 0.9;
    }

    15% {
        opacity: 1;
    }
    
    85% {
        opacity: 1;
      }

    100% {
    opacity: 0.5;
    }
}

.activeCon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.my-active{
    width: 15%;
    height: 50px;
    cursor: pointer;
}
.small-image{
    width: 100%;
    height: 100%;
}
.nextCon{
    width: 95%;
    position: absolute;
    top: 50%;
    left: 2.5%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: space-between;
}
.previous, .next{
    color: white;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    border: none;
    padding: 5px 8px;
}
/* END of Style for the slide-show section =================================================================================================== */






/* Style for the overview section =================================================================================================== */
.overview {
    padding: 2em 3em;
    line-height: 156.19%;
    font-size: 20px;
    color: #393939;
}

.overview h1 {
    font-weight: 800;
    font-size: 20px;
}

.overview h1:after {
    content:' ';
    display:block;
    border:1px solid #DADADA;
}

.overview p {
    padding-bottom: 0.7em;
}




/* End of Style for the overview section =================================================================================================== */






/* Start of the amenities section =================================================================================================== */
.amenities-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em 3em;
    line-height: 156.19%;
    font-size: 20px;
    color: #393939;
}

.amenities-details h1 {
    font-weight: 800;
    font-size: 20px;
    
}

.amenities-details h1:after {
    content:' ';
    display:block;
    border:1px solid #DADADA;
}

.list-amenities ul,
.icon-list-two ul,
.icon-list-one ul {
    list-style: none;
}


.icon-list-two ul li ,
.icon-list-one ul li  {
    /* font-weight: 800; */
    font-size: 18px;
}


.icon-list-two ul li .detail-img,
.icon-list-one ul li .detail-img {
    margin-top: 1.6em;
    margin-right: 0.5em;
}

@media only screen and (max-width: 992px) {
    .icon-list-two,
    .icon-list-one,
    .list-amenities {
        margin: 10px;
    }
}

/* End of Style for the amenities section =================================================================================================== */

@media only screen and (max-width:768px) {
    .slide-show-wrapper{
        height: 300px;
        margin-bottom: 1em;
    }

    .icon-list-two,
    .icon-list-one,
    .list-amenities {
        width: 100%;
    }
}

@media only screen and (max-width:568px) {
    .page-header{
        height: 150px;
    }
    .page-header-overlay{
        font-size: 6vw;
    }
    .slide-show-wrapper{
        height: 200px;
        margin-bottom: 0.5em;
    }
    .slide-show{
        padding: 0.5em;
    }
}