html {
    font-size: 16px;
    line-height: 1.4;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


.bannerTop {
    height: 15em;
    background-image: url("../images/04-Rooms/header-image-4-other-page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 90px;
    background-color: rgba(0, 0, 0, 0.596);
    background-blend-mode: multiply;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bannerTop h1 {
    font-size: 6.5vw;
    font-family: 'Times New Roman', Times, serif;
}

.bannerTop p {
    font-size: 2.5vw;
}

.pad {
    padding: 70px 80px 0 80px;
}

.description {
    padding-bottom: 70px;
}

.description p {
    text-align: center;
}

.row-1, .row-2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

.standard, .deluxe, .family, .executive {
    width: 40%;  
}

.image1 {
    background-image: url("../images/04-Rooms/StandardRoom.jpg");
}

.image2 {
    background-image: url("../images/04-Rooms/Deluxeeroom.jpg");
}

.image3 {
    background-image: url("../images/04-Rooms/family-rooms.jpg");
}


.image4 {
    background-image: url("../images/04-Rooms/executive-rooms.jpg");
   
}

.image1, .image2, .image3, .image4 {
    display: flex;
    align-items: flex-end;
    height: 15em;
    background-size: cover;
    background-position: center;
}

.room-title {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    font-weight: 600;
}

.small {
    font-size: 0.75rem;
    font-weight: normal;
}

.text {
    padding-top: 30px;
}

.text p {
    padding-right: 10px;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: flex-end;
}

.other {
    margin-left: 15px;
}

.details-btn {
    text-decoration: none;
    color: white;
    font-size: 14px;
    background-color: #eb392e;
    padding: 11px;
    text-align: center;
}
.details-btn:hover{
    color: #EB392E;
    background-color: white;
    border: 1px solid #EB392E;
    font-weight: 700;
}


@media screen and (max-width: 1024px) {
    .bannerTop h1 {
        font-size: 7vw;
    }
    
    .bannerTop p {
        font-size: 3vw;
    }
    .pad {
        padding: 70px 20px 0 20px;
    }
}

@media screen and (max-width: 767px) {
    .pad {
        padding: 70px 20px 0 20px;
    }

    .row-1, .row-2 {
        justify-content: center;
        flex-direction: column;
        width:80%;
        margin:0 auto 0 auto;
    }

    .standard, .deluxe, .family, .executive {
        width: 100%;
        margin-bottom: 30px;  
    }
}

@media screen and (max-width: 500px) {
    .pad{
        padding: 30px 20px 0 20px;
    }
    .bannerTop h1 {
        font-size: 9vw;
    }
    
    .bannerTop p {
        font-size: 4vw;
    }
    .row-1, .row-2 {
        width:100%;
    }
}