<<<<<<< HEAD
                                        /* ======
Globals
====== */
                                        
                                        * {
                                            box-sizing: border-box;
                                            margin: 0;
                                            padding: 0;
                                        }
                                        
                                        body {
                                            margin: 0;
                                            padding: 0;
                                            font-family: 'Raleway', sans-serif;
                                            line-height: 1.4;
                                            font-weight: normal;
                                            color: #393939;
                                            font-size: 18px;
                                        }
                                        
                                        a,
                                        a:focus,
                                        a:active,
                                        a:hover {
                                            text-decoration: none;
                                        }
                                        
                                        .container {
                                            width: 90%;
                                            max-width: 1200px;
                                            margin: 0 auto;
                                        }
                                        /* 
=======
hero section
======= */
                                        
                                        #overlay {
                                            background: rgba(43, 42, 42, 0.8);
                                            position: absolute;
                                            z-index: 1;
                                            width: 100%;
                                            height: 100%;
                                            top: 0;
                                            bottom: 0;
                                            left: 0;
                                            right: 0;
                                        }
                                        
                                        .hero {
                                            position: relative;
                                            width: 100%;
                                            min-height: 100vh;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            background-repeat: no-repeat;
                                            background-size: cver;
                                            color: #ffffff;
                                            text-align: center;
                                        }
                                        
                                        .hero .container {
                                            z-index: 10;
                                        }
                                        
                                        .hero_heading {
                                            font-size: 5.65rem;
                                            line-height: 1.2;
                                            margin-bottom: .2em;
                                        }
                                        
                                        .hero_text {
                                            position: relative;
                                            z-index: 4;
                                            margin: 1em;
                                            font-weight: 600;
                                        }
                                        
                                        .hero_image {
                                            width: 100%;
                                            height: 100%;
                                            position: absolute;
                                            top: 0;
                                            bottom: 0;
                                            left: 0;
                                            right: 0;
                                            display: block;
                                            z-index: -1;
                                        }
                                        
                                        .btn {
                                            font-size: 1rem;
                                            text-decoration: none;
                                            color: black;
                                            display: inline-block;
                                            text-transform: uppercase;
                                            background-color: #EB392E;
                                            padding: 1.22em 6em;
                                            font-weight: 600;
                                            transition: .25s linear all;
                                            white-space: nowrap;
                                            text-align: center;
                                            cursor: pointer;
                                        }
                                        
                                        .btn:hover,
                                        .btn:active {
                                            transform: scale(1.1);
                                            color: #393939;
                                        }
                                        /* =====
sections
===== */
                                        
                                        .section {
                                            margin: 8em 0 4em;
                                            text-align: center;
                                        }
                                        
                                        .section_heading {
                                            font-size: 36px;
                                            line-height: 1.2;
                                        }
                                        
                                        .section_text {
                                            width: 65%;
                                            margin: 2.5em auto;
                                        }
                                        /* 
=====
Welcome_section
===== */
                                        
                                        .welcome_cards {
                                            margin-top: 3em;
                                            display: grid;
                                            grid-gap: 25px;
                                            gap: 20px;
                                            grid-template-columns: repeat(4, 1fr);
                                        }
                                        
                                        .card {
                                            position: relative;
                                        }
                                        
                                        .card_image {
                                            width: 100%;
                                            max-width: 100%;
                                            background: rgba(43, 42, 42, 0.8);
                                            position: relative;
                                        }
                                        
                                        .card_link {
                                            font-weight: 900;
                                            color: #FFFFFF;
                                            display: block;
                                            position: absolute;
                                            z-index: 30;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                        }
                                        
                                        .card_link:hover,
                                        .card_link:focus {
                                            color: #ffffff;
                                        }
                                        
                                        .card_overlay {
                                            background: rgba(43, 42, 42, 0.7);
                                            position: absolute;
                                            opacity: 1;
                                            z-index: 10;
                                            width: 100%;
                                            height: auto;
                                            top: 0;
                                            bottom: 0;
                                            left: 0;
                                            right: 0;
                                            transition: 0.4s ease-in linear;
                                            -webkit-transition: 0.4s ease-in linear;
                                        }
                                        
                                        .card_overlay:hover,
                                        .card_overlay:focus {
                                            opacity: 0;
                                            transition: 0.4s ease-in linear;
                                            -webkit-transition: 0.4s ease-in linear;
                                        }
                                        /* 
=======
Rooms
====== */
                                        
                                        .room_cards {
                                            display: grid;
                                            grid-gap: 25px;
                                            grid-template-columns: repeat(3, 1fr)
                                        }
                                        
                                        .room_card {
                                            position: relative;
                                        }
                                        
                                        .room_link {
                                            text-decoration: underline;
                                            display: block;
                                            position: absolute;
                                            bottom: 5px;
                                            left: 0;
                                            right: 0;
                                            padding: 1em 2em;
                                            text-transform: uppercase;
                                            color: #FFFFFF;
                                            font-weight: 600;
                                            background: rgba(43, 42, 42, 0.8);
                                            transition: 0.3s all ease-in-out;
                                            -webkit-transition: 0.3s all ease-in-out;
                                        }
                                        
                                        .room_link:hover,
                                        .room_link:focus {
                                            color: #ffffff;
                                            padding: 0;
                                            padding: 40% 1em;
                                            position: absolute;
                                            top: 0;
                                            bottom: 5px;
                                            left: 0;
                                            bottom: 0;
                                            transition: 0.3s all ease-in-out;
                                            -webkit-transition: 0.3s all ease-in-out;
                                        }
                                        /* ======
                                        Gallery
                                        ====== */
                                        
                                        .gallery_section .aontainer {
                                            display: flex;
                                            text-align: center;
                                        }
                                        
                                        .gallery {
                                            margin: 2em 0;
                                            display: grid;
                                            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                                        }
                                        
                                        .gallery_image_wrapper {
                                            max-width: 350px;
                                            margin: 0 auto;
                                            border: 1px solid #EB392E;
                                        }
                                        
                                        .gallery_image {
                                            max-width: 100%;
                                            width: 100%;
                                            height: 100%;
                                        }
                                        
                                        .gallery_image:hover {
                                            transform: scale(1.4);
                                            border: 1px solid #EB392E;
                                        }
                                        
                                        .gallery_btn {
                                            margin: 1.5em 0;
                                        }
                                        
                                        @media(max-width: 990px) {
                                            body {
                                                font-size: 16px;
                                            }
                                            .hero_heading {
                                                font-size: 3.65rem;
                                                line-height: 1;
                                                margin-bottom: .2em;
                                            }
                                            .welcome_cards {
                                                display: block;
                                            }
                                            .card {
                                                width: 280px;
                                                max-width: 400px;
                                                margin: 0 auto;
                                                margin-bottom: .5em;
                                            }
                                            .room_cards {
                                                display: block;
                                            }
                                            /* Footer Styles */
                                            .footer {
                                                color: #E5E5E5;
                                                text-decoration: none;
                                            }
                                            .footer:hover {
                                                color: #696969;
                                            }
                                            footer {
                                                color: #E5E5E5;
                                                background-color: #393939;
                                                height: 500;
                                            }
                                            .footer:hover {
                                                color: #696969;
                                            }
                                            .contact-info {
                                                align-items: center;
                                                display: flex;
                                                font-family: 'Raleway', sans-serif;
                                                font-weight: 600;
                                                font-size: 1.75rem;
                                                text-align: left;
                                                line-height: 2;
                                                justify-content: space-between;
                                                padding: 4%;
                                            }
                                            .contact-info {
                                                display: inline;
                                            }
                                            .container {
                                                margin-bottom: 3rem;
                                            }
                                            .footer {
                                                margin-left: 35%;
                                            }
                                        }
=======


body {
    margin: 0;
}

/* Footer Styles */

.footer {
    color: #E5E5E5;
    text-decoration: none;
    font-size: 1.5rem;
}

.footer:hover {
    color: #696969;
}

footer{
    color: #E5E5E5;
    background-color: #393939;
    height: 500;
}

.footer:hover {
    color: #696969;
}

/* .footer img{
    width: 90%;
} */

.contact-info {
    align-items: center;
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: left;
    line-height: 1.7;
    justify-content: space-between;
    padding: 4%;
}





/* responsiveness */

/* ipad responsiveness */

 @media screen and (max-width: 992px) {

    /* .contact-info {
        display: inline;
    }

    .contain {
        margin-bottom: 3rem;
    }

    .footer {
        margin-left: 35%;
    } */
      .contact-info {
        padding-left: 0.8rem;
        padding-right: 0.9rem;
        padding: 1%;
        align-items: center;
        /* justify-content: center; */
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.3rem;
    }
} 



/* mobile responsiveness */


@media screen and (max-width:480px) {
    .contact-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 1.7rem;
        padding-bottom: 1.4rem;
        line-height: 1.9;
    }
}
>>>>>>> c3b20032c8eff8c023927fae2fc8f963c4707bb9
