

body {
    margin: 0;
}

/* Footer Styles */

.footer {
    color: #E5E5E5;
    text-decoration: none;
}

.footer:hover {
    color: #696969;
}

footer{
    color: #E5E5E5;
    background-color: #393939;
    height: 500;
}

.footer:hover {
    color: #696969;
}

.contact-info {
    align-items: center;
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    text-align: left;
    line-height: 1.7;
    justify-content: space-between;
    padding: 4%;
}





/* responsiveness */

/* ipad responsiveness */

 @media screen and (max-width: 992px) {

    /* .contact-info {
        display: inline;
    }

    .contain {
        margin-bottom: 3rem;
    }

    .footer {
        margin-left: 35%;
    } */
      .contact-info {
        padding: 1%;
        align-items: center;
        justify-content: center;
    }
} 



/* mobile responsiveness */


@media screen and (max-width:480px) {
    .contact-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 1.7rem;
        padding-bottom: 1.4rem;
        line-height: 1.9;
    }
}