body {
    margin: 0;
}

/* Footer Styles */

.footer {
    color: #E5E5E5;
    text-decoration: none;
    font-size: 1em;
}

.footer:hover {
    color: #696969;
}

footer {
    color: #E5E5E5;
    background-color: #393939;
}

.footer:hover {
    color: #696969;
}

/* .footer img{
    width: 90%;
} */

.contact-info {
    align-items: center;
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: left;
    line-height: 1.7;
    justify-content: space-between;
    padding: 4%;
}


.footer-logo>a>img {
    width: auto;
    height: 7rem;
}

/* responsiveness */

/* ipad responsiveness */

@media screen and (max-width: 992px) {

    /* .contact-info {
        display: inline;
    }

    .contain {
        margin-bottom: 3rem;
    }

    .footer {
        margin-left: 35%;
    } */
    .contact-info {
        padding-left: 0.8rem;
        padding-right: 0.9rem;
        padding: 1%;
        align-items: center;
        padding-top: .5rem;
        padding-bottom: .5rem;
        font-size: 1em;
    }
}



/* mobile responsiveness */


@media screen and (max-width:780px) {
    .contact-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 1.7rem;
        padding-bottom: 1.4rem;
        line-height: 1.9;
    }
}