@mixin for-phone {
  @media screen and (max-width: 768px) {
    @content;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.contact-header {
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  opacity: 0.9;
  color: #fff;

  &::after {
    background: url("../../assets/images/HEADER-IMAGE-CONTACT\ US.png");
    background-size: cover;
    content: "";
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;

    @include for-phone {
      background: url("../../assets/images/GOOGLE-MAP-IMAGE.png");
    }
  }

  h1 {
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 25px;

    @include for-phone {
      font-size: 40px;
    }
  }

  p {
    width: 80%;
    font-weight: 350;
    font-size: 20px;
    text-align: center;

    @include for-phone {
      font-size: 18px;
    }
  }
}

.contact-form {
  margin-top: 30px;
  padding: 0 10px;

  .form-container {
    display: flex;
    justify-content: space-around;

    @include for-phone {
      flex-direction: column;
    }

    form {
      width: 45%;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include for-phone{
        width: 100%;
      }

      input {
        padding-left: 27px;
        width: 100%;
        border: 3px solid #344a71;
        height: 57px;
        font-weight: 350;
        font-size: 20px;
        margin-bottom: 10px;
      }

      textarea {
        padding-left: 27px;
        padding-top: 10px;
        border: 3px solid #344a71;
        height: 200px;
        font-weight: 350;
        font-size: 20px;
        margin-bottom: 10px;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        height: 57px;
        background-color: #344a71;
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;

        &:hover {
          background-color: rgb(48, 80, 134);
        }

        img {
          margin-left: 10px;
        }
      }
    }

    .map {
      position: relative;
      margin-right: 30px;
      @include for-phone {
        display: none;
      }
      .box {
        position: absolute;
        width: 273px;
        height: 252px;
        z-index: -1;
        right: -20px;
        top: -20px;
        background: #344a71;

        @include for-phone {
          display: none;
        }
      }

      @include for-phone {
        margin: 0 auto;
        margin-top: 50px;
      }

      img {
        width: 100%;
      }
    }
  }
}
