@font-face {
  font-family: 'Gotham';
  src: local('Gotham'),
       url('/assets/webfont/iCiel\ Gotham-Medium.ttf') format("truetype");
}

body, html {
  height: 100%;
  font-family: 'Gotham' !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.contact-header {
  height: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
  opacity: 0.9;
  color: #fff;
}

.contact-header::after {
  background: url("../../assets/images/HEADER-IMAGE-CONTACT US.png");
  background-size: cover;
  content: "";
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .contact-header::after {
    background: url("../../assets/images/GOOGLE-MAP-IMAGE.png");
  }
}

.contact-header h1 {
  font-weight: bold;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .contact-header h1 {
    font-size: 40px;
  }
}

.contact-header p {
  width: 80%;
  font-weight: 350;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .contact-header p {
    font-size: 18px;
  }
}

.contact-form {
  margin-top: 30px;
  padding: 0 10px;
}

.contact-form .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .contact-form .form-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-form .form-container form {
  width: 45%;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .contact-form .form-container form {
    width: 100%;
  }
}

.contact-form .form-container form input {
  padding-left: 27px;
  width: 100%;
  border: 3px solid #344a71;
  height: 57px;
  font-weight: 350;
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-form .form-container form textarea {
  padding-left: 27px;
  padding-top: 10px;
  border: 3px solid #344a71;
  height: 200px;
  font-weight: 350;
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-form .form-container form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  height: 57px;
  background-color: #344a71;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}

.contact-form .form-container form button:hover {
  background-color: #305086;
}

.contact-form .form-container form button img {
  margin-left: 10px;
}

.contact-form .form-container .map {
  position: relative;
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .contact-form .form-container .map {
    display: none;
  }
}

.contact-form .form-container .map .box {
  position: absolute;
  width: 273px;
  height: 252px;
  z-index: -1;
  right: -20px;
  top: -20px;
  background: #344a71;
}

@media screen and (max-width: 768px) {
  .contact-form .form-container .map .box {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .contact-form .form-container .map {
    margin: 0 auto;
    margin-top: 50px;
  }
}

.contact-form .form-container .map img {
  width: 100%;
}
 /* Back to top button*/
#top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #717171;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#top-btn:hover {
  background-color: #344A71;
}
/* Back to top button end*/