
/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Merriweather+Sans:wght@300&family=Source+Sans+Pro:wght@200&display=swap');


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {

}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 10rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
/*  ---------------------------------------------------------  */


.card-title, .tagline, .below-tagline, .page-title {
    font-family: 'Berkshire Swash', cursive;
}

.above-tagline {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #FFA800;
}

.tagline {
    font-size: 48px;
    line-height: 60px;
}

.below-tagline {
    font-size: 36px;
    line-height: 45px;
}

.page-title {
    font-size: 48px;
}

.jumbotron {
    background-color: white;
    border-radius: 0;
    margin-bottom: 0;
}

.card {
        min-height: 200px;
        background: #F7F7F7;
        border: 1px solid rgba(91, 14, 34, 0.5);
        border-radius: 0;
        margin-bottom: 2.5rem;
}

.card-title {
    font-size: 38px;
    line-height: 60px;
    margin: 10px 0px;
}
