.custom-shadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.book-text {
    background: #5b0e22;
    color: #ffffff;
    font-family: Source Sans Pro, sans-serif;
    line-height: 17px;
    font-size: 13px;
    letter-spacing: 0.025em;
    text-align: left !important;
}

.top-bar {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    width: 65%;
    margin: 0px auto;
}
.rates {
    font-size: 15px;
}
#exp {
    background: #5b0e22;
    color: #ffffff;
    font-family: Source Sans Pro, sans-serif;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.025em;
    font-weight: 600;
}
#offers {
    letter-spacing: 0.025em;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Merriweather", serif;
    line-height: 25px;
    color: #333333;
    font-size: 18px;
}
#arrow {
    background: #ffa800;
    color: white;
    font-weight: bolder;
}

.custom-width {
    width: 30%;
}

.w-80 {
    width: 88%;
}

.w-20 {
    width: 12%;
}

@media (max-width: 640px) {
    .custom-width {
        width: 70%;
    }
}
