.navbar {
    background-color:#344A71 !important;
    position: fixed;
    width: 100%;
    z-index: 10;
    top:0;
}
a {
    color:white;
}
li {
   list-style:none;
}
li a{
    color: white;
}
a:hover {
    text-decoration: none;
    border: 1px solid white;
    color: white;
}

.navbar-brand>h1>span {
  font-weight: 300;
}

.footer {
    padding: 3px;
    background-color: #344A71;
    color: white;
    left: 0;
    /* position: fixed; */
    /* bottom: 0;
    width: 100%; */
  }
  .col-sm-4 span {
      display: block;
  }
  i {
      margin: 5px;
  }
  a {
      color:white;
  }
  .mt-5 {
      margin-top: 20px;
  }
  .email-input{
    background-color: #344A71;
    border: 2px solid white;
}
.email-input::placeholder{
    color: white;
    padding: 0 3px;
    font-weight: 200;
}
.sub-btn{
    margin: 0 0 50px 0 !important;
    border-radius: 0 0 0 0 !important;
    border: 2px solid white !important;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;

.footer h1 {
    margin-left: 0.4em;
}