body,html{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Gotham', sans-serif;

}

*{
    box-sizing: border-box;
}

.room-rate-intro{
    background: url('https://res.cloudinary.com/dev-sam/image/upload/v1591773940/hdtdi8mhawscfqkfyyv0.png') no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 50%;
   
    
    display: flex;
    place-items: center;
}

.room-rate-intro section{
    background: rgba(0, 0, 0, 0.62);
    height: 100%;
    width: 100%;
}

.room-rate-intro h2{
    font-weight:bold;
    color:#fff;
    text-align: center;
    font-size: 50px;
    line-height: 48px;
    margin-top: 4rem;

}

.room-rate-intro p{
    font-size: 20px;
    line-height: 24px;
    font-weight: 350;
    text-align: center;
    margin: 0 4rem;
}

.room-rate-container{
    margin: 5rem ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;    
}

.room-rate-container img{
    width: 100%;
    height: 100%;
}

.room-rate-box{
    width: 50%; 
    height: 50%;
}
.price{
    font-family: Gotham Bold;
    font-weight: bold;
    font-size: 35px;
    line-height: 33px;
    padding: 40px 10px;
}

.box-1{
    background: url('https://res.cloudinary.com/dev-sam/image/upload/v1591817863/yrnxnluwzpz3atrrexu9.png') no-repeat;
}
.box-2{
    background: url('https://res.cloudinary.com/dev-sam/image/upload/v1591817785/t0zvhdxkg2szmrxujrhf.png')  no-repeat;
}
.box-3{
    background: url('https://res.cloudinary.com/dev-sam/image/upload/v1591773813/gtelqkp15renoeoywakw.png')  no-repeat;
}
.box-4{
    background: url('https://res.cloudinary.com/dev-sam/image/upload/v1591773795/sgdzcufqfghuijtmuymu.png')  no-repeat;
}
.box-5{
    background: url('https://res.cloudinary.com/dev-sam/image/upload/v1591728921/zsp0c3rrnm3p50nqs4zn.png') no-repeat;
}
.box-6{
    background: url('https://res.cloudinary.com/dev-sam/image/upload/v1591773802/srk8clwodhhsbltdgeji.png')  no-repeat;
}


.room-rate-box img{
    height: 100%;
    width: 100%;
}

.room-rate-price{
    background: rgba(0, 0, 0, 0.65);
    height: 100%;
    width: 55%;
    padding:0 0.5rem;
}
.room-rate-price h3{
    margin-top: 3rem;
    font-size: 30px;
    line-height: 29px;
}
.room-rate-price p{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 350;
    font-size: 20px;
    line-height: 24px;
    color: #fff
}
.room-rate-shadow{
    box-shadow: 0 4px 8px 0 rgba(0,0, 0, 0.2);
    transition: 0.3s;
    padding: 0.3rem;
}

.room-rate-shadow:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0, 0, 0.2);
}

.room-rate-box p{
  padding:0.6rem;
}

.room-rate-margin{
    margin-right: 3rem;
    
}

button{
    background: #344A71;
    padding: 10px 40px;
    color: #fff;
    font-family: Gotham;
    font-weight: 350;
    font-size: 25px;
    line-height: 30px;
    border: none;
    margin-top: 2rem;
}

.room-rate-price{
    width: 52%;
    padding: 0.6rem;
}

li{
    font-family: Gotham;
    font-style: normal;
    font-weight: 350;
    font-size: 20px;
    line-height: 24px;
}


.checked {
    color: orange;
  }


@media screen and (max-width:996px){
    .room-rate-intro{
        height: 40%;
        text-align: center;
    }
    .room-rate-intro h2{
        font-size: 50px;
        line-height: 45px;
        margin-top: 6rem;
    }
    .room-rate-intro p{
        font-size: 20px;
        line-height: 30px;
        margin: 0 4rem;
    }
    .room-rate-container{
        display: block;
        margin: 2rem;
    }
    .room-rate-box{
        width: 100%;
        
    }

    @media screen and (max-width:480px){
        .room-rate-intro{
            height: 30%;
        }
        .room-rate-intro h2{
            font-size: 40px;
            line-height: 30px;
            margin-top: 2rem;
        }
        .room-rate-intro p{
            font-size: 16px;
            line-height: 18px;
            margin: 0 4rem;
        }
        .room-rate-container{
            margin: 1rem;
            display: block;
            
        }
    
        .room-rate-margin{
            margin-bottom: 1rem;
            margin-right: 0;
            
        }
    
        .room-rate-box{
            width: 100%;
        }
        button{
            padding: 10px 20px;
        }
        .room-rate-price{
            width: 70%;
            padding: 0.6rem;
        }
    
    }
    

    .room-rate-margin{
        margin-bottom: 2rem;
        margin-right: 0rem;
        
    }
}
